@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Rubik+Mono+One:regular);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
    margin:0%;
    padding:0%;
    
}
html{
	height:100%;
    font-size: 62.5%;
    color: #1f1f1f;
}

a{
    text-decoration: none;
    color:var(--fourth-color);
    transition: all 0.9s ease;
}
a:hover{
    color: var(--third-color);
    transition: all 0.9s ease;
}
:root{
    --text-font: 'Montserrat', sans-serif;
    --title-font: 'Rubik Mono One', sans-serif;
    --first-title-font: 'Playfair Display SC', serif;
    /* --first-color-rgb: 0,0,0;
    --second-color-rgb: 255, 255, 255;
    --third-color: #E7CCDE;
    --fourth-color: #CECFD3;
    --fifth-color: #000000; */
    
/*
    --first-color-rgb: 0,91,150;
    --second-color-rgb: 255, 255, 255;
    --third-color: #b3cde0;
    --fourth-color: #f0f9ff;
    */

    --first-color-rgb: 34, 28, 22;
    --first-color:rgb(34, 28, 22);
    /* --first-color-rgb: 66, 52, 42; */
    --second-color-rgb: 255, 255, 255;
    /* --third-color: #90ade2; */
    --third-color: #cfb093;
    --fourth-color: #e7dedb;
    --fifth-color: #201f1e;
}

.header-active{
    background-color: rgba(var(--first-color-rgb),1);  
    box-shadow: 0 0 20px 0;
}
.header-not-active{
    background-color: rgba(0,0,0,0);
}

.btn{
    cursor:pointer;
    border: 1px solid;
    color: rgb(var(--first-color-rgb));
    font-family:var(--text-font);
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    border-radius: 2px;
}
.btn:hover{
    transition: all 0.5s ease;
    border-color: rgb(var(--first-color-rgb));
    background-color: rgb(var(--first-color-rgb));
    color:rgb(var(--second-color-rgb));
}
.form-submit-btn{
    background-color:var(--third-color);
    padding:1% 2%;
    font-size:1.1em;
    border:none;
    border-radius: 3px;
}
.profile-circle{
    background-color:var(--fourth-color);
    padding:2%;
    width:60px;
    height:60px;
    border-radius:100%;
    margin:auto;
    text-align:center;
    color:rgb(var(--second-color-rgb));
    font-size:2.4em;
}
.popup, .popup-service-edit, .popup-service-add, .popup-promotion-edit, .popup-promotion-add, .popup-portfolio-edit{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    right:-100%;
    z-index: 3;
    display: flex;
    background-color: rgba(var(--first-color-rgb), 0.6);
    transition: all 0.5s ease;
}
.popup_open{
    right: 0;
    transition: all 0.5s ease;
}
.popup-close-btn{
    color: rgb(var(--second-color-rgb));
    position: absolute;
    height: 10vh;
    width: 100%;
    text-align: right;
    background-color:rgba(var(--first-color-rgb));
    font-size: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.popup-close-btn span{
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 0 2% 0 0;
}
.popup-close-btn span:hover{
    color: #92979a;
    transition: all 0.5s ease;
}
.popup-content{
    width: 35%;
    height: auto;
    max-height: 80%;
    background-color: rgb(var(--second-color-rgb));
    color: rgb(var(--first-color-rgb));
    font-size: 1.2rem;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    
}
.popup-choice{
    width: 100%;
    display: flex;
}
.popup-choice__log, .popup-choice__reg{
    width: 46%;
    padding: 2%;
    display: inline-block;
    margin: 0;
    font-size: 1.5em;
    background-color: rgba(var(--first-color-rgb), 0.2);
    cursor: pointer;
}
.popup-choice__log{
    border-radius: 3px 0 0 0;
}
.popup-choice__reg{
    border-radius: 0 3px  0 0;
}
.popup-choice_checked{
    background-color: rgb(var(--second-color-rgb));
    cursor: default;
}
.popup-form{
    height: 100%;
    width: 90%;
    margin: auto;
}
.popup-form__log{
    display: block;
    margin-top: 5%;
}
.popup-form__reg{
    display: none;
    margin-top: 5%;
}
.label{
    font-size: 1.4em;
    width:35%;
    display: inline-block;
    text-align: left;
}
.input{
    padding:  0;
    margin: 2% 3% 0;
    border: 12px rgb(var(--first-color-rgb));
    border-bottom: 1px solid;
    outline: none;
    font-family: 'Source Sans 3',sans-serif;
    letter-spacing: 2px;
    font-size: 1.4em;
}
.input-box{
    display:inline-flex;
    flex-direction: column;
    width: 64%;
}
.input-message{
    font-size: 1em;
    text-align: left;
    margin-left: 3%;
    margin-top: -5%;
    color: red;
    height: 10px;
}

.popup-form input[type='submit']{
    margin: 5% 0 10% 0;
    padding: 3%;
    min-width: 40%;
    background-color: var(--third-color);
    border: none;
    font-family: 'Source Sans 3', sans-serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
}
.popup-form input[type='submit']:hover{
    background-color: rgb(var(--first-color-rgb));
    color: #C3C9CD;
    transition: all 0.5s ease;
}

header{
    width:100%;
    height: 10vh;
    position:fixed; 
    z-index: 3;
    top:0;
    left:0;
    font-size: 1.7rem;
    display: flex;
    transition: all 0.5s ease;
 /*   background:rgba(var(--first-color-rgb)); */
}
header .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    width: 95%;
}
.logo img{
    width:8vh;
}
nav{
    height:100%;
    margin: auto;
}
nav li{
    list-style-type: none;
    margin: auto;
    height: 100%;
}
.menu_link{
   margin-top:3.5vh;
   display: inline-block;
}
.menu_list{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 500px;
    height:100%;
}
.menu_list a{
    color: rgb(var(--first-color-rgb));
    text-shadow: none;
    transition: text-shadow 0.5s ease;
    display: block;
}
.menu_list a:hover{
    color:#C3C9CD;
    transition: color 0.5s ease;
}
.menu_sub-list a:hover{
    color:#C3C9CD;
    transition: color 0.5s ease;
}
.menu_sub-list{
    position: absolute;
    padding: 15px;
    top: 8vh;
    left: 0;
    margin:0;
    background-color: rgba(var(--first-color-rgb));
    visibility: hidden;
    opacity: 0;
}
.menu_sub-list .menu_sub-link{
    margin:10px 0px;
}
.menu_list li:hover > ul{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.menu_checked{
    background-color: #e7ccde28;
    padding-bottom: 15px;
}
.authorization{
    cursor: pointer;
}
.exit{
    cursor:pointer;
}
.header_authorization_btn, .header_lk_btn{
    display: none;
}
body{
    background-color: rgb(var(--second-color-rgb));
    color: #1f1f1f;
    font-family:var(--text-font);
}

.hr{
    /* background: linear-gradient(to right, rgb(var(--second-color-rgb)), rgba(var(--first-color-rgb), 0.5), rgb(var(--second-color-rgb))), linear-gradient(to bottom, rgb(var(--second-color-rgb)), rgba(var(--second-color-rgb), 0.6), rgb(var(--second-color-rgb))); */
    /* background: var(--third-color); */
    /* border:0; */
    /* height:3px; */
    /* border-color: var(--third-color); */
}
footer{
    background-color: var(--fifth-color);
    color: rgb(var(--second-color-rgb));
    margin-top: -15px;
    padding:50px 0 45px 0; 
    position: sticky;
}
footer .container{
    width: 90%;
    margin: auto;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.switch_address{
    width: 100%;
}
.switch_address__title{
    font-size: 3rem;
    margin: 15px auto;
    width: max-content;
    padding: 0px 0px 20px 0px;
}
.switch_address_btn{
    background: none;
    color:rgb(var(--second-color-rgb));  
    font-size: 1.3rem;
    width:48%;
    margin: 0 0.5%;
    padding:3%;
    /* border:3px solid; */
    cursor: pointer;
    /* border-radius: 5px; */
}
.switch_address_btn.checked{    
    color: rgb(var(--first-color-rgb));
    border: solid 1px rgb(var(--second-color-rgb));
    background-color: var(--third-color);
    cursor: default;
}
.switch_address_btn:hover{
    border: solid 1px rgb(var(--second-color-rgb));
}
#map-container{
    width:50%; 
    height:50vh;
}
.map{
    width:100%;
    height:100%;
    border: 0;
}
.leftbar{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
}
.leftsubbar{
    font-size: 2rem;
    margin:25px 37px;
    width: 35%;
}
.leftsubbar_title{
    padding: 30px 0px;
}
.leftsubbar p{
    margin: 5px 0px;
}
.switch_address__title, .leftsubbar_title{
    font-family: var(--title-font);
}
.lk-info{
    padding-top: 6%;
  
}
.img-404{
    width:20vh;
    }
    
    .text-404{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* font-family: var(--first-title-font); */
    font-size: 5em;
    }
    .text-404 p, .text-404 a{
        font-size: 0.3em;
        margin: 1%;
        font-family: var(--text-font);
        text-align: center;
    }
    .container-404{
        display: flex;
        height: 100vh;
        background-color: #ffeac35e;
    }
    
    .home{
        color:var(--first-color);
        text-decoration: underline;
    }
    .home:hover{
        color: var(--third-color);
    }
@media  screen and (min-width:1700px) {
    html{
      font-size:80%;
    }
}
@media screen and (max-width:1000px) {
    #menu{
        position:fixed;
        display: flex;
        flex-direction: column;
        z-index: 10;
        top:10vh;
        left:200%;
        width:100%;
        height:100%;
        text-align:center;
        background-color:rgba(var(--first-color-rgb), 0.916);
        padding-top:5%;
        transition:all 0.3s ease 0s;
        font-size: 1.4em;  
        align-items: center;
        justify-content: space-between;
    }
    .menu_list{
        display: block;
        height: auto;
        margin: 0 auto;
        width: 100%;
    }
    nav li{
        height: auto;
        margin:0;
    }
    .menu_sub-list{
        position: relative;
        display: none;
        opacity: 1;
        visibility: visible;
        width: 80vw;
        top:0;
        margin: 1% auto;
        background-color: rgb(var(--first-color-rgb));
    }
    .menu_sub-list.active{
        display: block;
    }
    .header.active{
        background-color: rgb(var(--first-color-rgb));
    }
    #menu.active{
        left:0%;  
    }
    .logo img{
        width: 6vh;
    }
    #menu-burg{
        display:block;
        width:5vh;
        height:2.5vh;
        position:relative;
        z-index:2;
        cursor:pointer;
    }
    #menu-burg span, #menu-burg::before, #menu-burg::after {
        width:100%;
        height:2px;
        left:0;
        position:absolute;
        
        transition: all 0.3s ease 0s;
    }
    .black-menu-burg::after, .black-menu-burg::before, .black-menu-burg span{
        background-color:rgb(var(--first-color-rgb));
    }
    .white-menu-burg::after, .white-menu-burg::before, .white-menu-burg span{
        background-color:rgb(var(--second-color-rgb));
    }
    #menu-burg::before, #menu-burg::after {
        content:"";
    }
     #menu-burg::after{
        bottom:0px;
     }
     #menu-burg::before{
        top:0px;
     }
     #menu-burg span{
        top:50%;
        transform:scale(1) translate(0px,-50%);
    }
     #menu-burg.active span{
        transform:scale(0) translate(0px,-50%);
     }
     #menu-burg.active::after{
        bottom:50%;
        transform: rotate(45deg) translate(0px,50%);
     }
     #menu-burg.active::before{
        top:50%;
        transform:rotate(-45deg) translate(0px,-50%);
     }
     .header_authorization_btn, .header_lk_btn{
        color: rgb(var(--first-color-rgb));
        width:60%;
        height: 50px;
        background-color: var(--third-color);
        font-size: 0.7em;
        margin: 0 auto 30%;
        display: none;
     }
     .header_authorization_btn.active, .header_lk_btn{
        display: block;
     }
     .authorization, nav, .lk-open{
        display: none;
     }
     
     .popup-content{
        width: 50%;
        margin: auto;
     }
     .popup-close-btn{
        background-color: rgb(var(--first-color-rgb));
     }
    .popup{
        background-color: var(--third-color);
    }
}
@media screen and (max-width:1420px) {
    .switch_address{
        width:90%;
        margin: auto;
    }
    .leftbar{
        width: auto;
    }
    footer .container{
        flex-direction: column-reverse;
    }
    .switch_address{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .switch_address__title{
        width: 100%;
        text-align: center;
    }
    #map-container{
        width: 90%;
        height:40vh;
    }
    .leftsubbar{
        width:38%;
        text-align: center;
    }
}
@media screen and (orientation:portrait) {
    .popup-content{
        width: 100%;
        margin: 8vh auto 0vh;
     }
     .input{
        width: 100%;
     }
     .popup label{
        display: block;
        margin-left: 3%;
        width: 100%;
        text-align: left;
    }
     html{
        font-size: 60%;
    }
}
@media screen and (max-width:800px){
    .leftbar{
        margin: 0 0 3% 0;
    }
    .switch_address_btn{
        width:80%;
        margin: 3% 0;
    }
    .switch_address__title{
        margin: 0;
        font-size: 2.5em;
    }
    .leftsubbar{
        width: 80%;
        margin: 0;
    }
    .leftsubbar_title{
        padding: 3% 0 2% 0;
        font-size: 1.1em;
    }
    .leftsubbar p{
        font-size: 0.8em;
    }
}
